.wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(135deg,#8b744d,#d3c1a2);
    background-image: url(/loadingBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
    overflow: hidden;
}

.kasa {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.cam {
    height: 330px;
    width: 250px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #fff;
    margin-bottom: 100px;
    box-shadow: 0 0 10px #00000054;
    opacity: 0;
        position: absolute;
    top: 50%;
    left: 50%;
}

.cam1 {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%,-50%) rotate(5deg);
}
.cam2 {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%) rotate(-5deg);
}
.cam3 {
    position: absolute;
    top: 53%;
    left: 46%;
    transform: translate(-50%,-50%) rotate(20deg);
}
.cam4 {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%) rotate(-25deg);
}
.cam5 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(17deg);
}
.cam6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-7deg);
}
.cam7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-19deg);
}
.cam8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(19deg);
}
.cam9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-7deg);
}

.cam img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}